* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  padding-bottom: 50px;
}

p {
  padding-bottom: 5px;
}

a {
  color: gray;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  width: 250px;
  background-color: #f1f1f1;
  height: 100%;
  float: left;
  overflow: auto;
}

.navigation li a {
  display: block;
  color: #000;
  padding: 16px;
  text-decoration: none;
  text-align: left;
}

.navigation li a:hover {
  background-color: #555;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.content-about {
  padding-left: 10px;
  display: block;
  width: 100%;
}

.photo-box {
  color: gray;
  background-color: #f1f1f1;
  width: 200px;

  margin: 10px;
  padding: 5px;
  padding-bottom: 15px;

  align-items: center;
}

.photo-box h5 {
  padding: 10px;
  text-align: center;
}

.photo-box img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#largeImgPanel {
  text-align: center;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0; left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0, 0.7);
}

#largeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: 50%;
  margin-top: 5%;
}

.footer {
  position: absolute;
  height: 50px;
  padding-left: 85%;
  margin-bottom: 50px;
}

.footer #fb {
  width: 50px;
}

.footer #mail {
  width: 50px;
}
